* {
  border: solid red 1px;
}

body {
  background-color: #e6ecf0;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

}


#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #fff;
  /* border-bottom: solid yellow 4px; */
  margin: 0;
  height: 45px;
}
