/**********************************
General styling
**********************************/
* {
  /* border: solid red 1px; */
}

body {
  background-color: #e6ecf0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  color: grey;

}

header {
  padding: 0 10%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12)
}

a {
  text-decoration: none;
  color: grey;
}

h3 {
  color: #000;
}


/**********************************
Navigation
**********************************/
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 45px;
  font-size: .75rem;
  font-weight: bold;
  color: #444;
}

#nav li {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 16px 10px;
  margin-right: 20px;

}

.nav-item:hover {
  border-bottom: solid grey 2px;
}

#bird-logo {
  max-width: 30px;
}

#search {
  border-radius: 40px;
  height: 30px;
  width:175px;
  background-color: #f5f8fa;
  border: 1px #d9d9d9 solid;
}

#search::-webkit-input-placeholder {
  padding-left: 10px;
}

#search-icon {
  position: relative;
  right: 40px;
  border: none;
  background-color: #f5f8fa;
}

#profile-pic {
  max-width: 30px;
  max-height: 30px;
  border-radius: 100%;
  border: 1px #bbb solid;
}

#tweet-button {
  background-color: grey;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  margin-left: 20px;
}




/**********************************
Main
**********************************/
main {
  display: flex;
  padding: 0 10%;
  margin-top: 20px;

}

.side {
  width: 290px;
}

.feed {
  width: 580px;
  margin: 0 16px;
}

.box {
  background-color: #fff;
  margin: 0 0 16px 0;
  padding: 15px;
}
/**********************************
User summary
**********************************/
.user-banner {
  height: 95px;
  overflow-y: hidden;
}
.user-banner .banner-small {
  width: 100%;
}

.user-profile {
  display: flex;
  /* position: relative; */
  margin-top: -20px;
}

.user-profile div {
  margin-left: 10px;
}

  .user-profile #profile-pic {
    width: auto;
    max-width: 70px;
    height: auto;
    max-height: 70px;
    border: solid 2px #fff;
    position: relative;
    bottom: 20px;
  }

  .user-profile h3 {
    margin-bottom: 5px;
  }

  .user-profile h4 {
    margin: 0 0 15px 0;
  }

.user-stats {
display: flex;
}

.stat {
  padding-right: 20px;
  line-height: 1.5rem;
  font-size: .85rem;
  font-weight: 600;
}

.stat span {
  color: #aaa;
  font-size: 1.125rem;
}

.header-details {
  font-size: .75rem;
  font-weight: 400;
  color: grey;
}


/**********************************
Feed
**********************************/

.whats-happening {
  overflow: hidden;
  display: flex;
  background-color: #f6f7f8;
  padding: 1rem;
  align-items: stretch;
}

.whats-happening #profile-pic {
  border: none;
  padding: 0 .5rem .5rem 1rem;
}

.whats-happening #happening {
  border-radius: 7px;
  border: solid 2px #e4e8eb;
  color: #b3bec6;
  font-size: .85rem;
  font-weight: 100;
  padding: 7px;
  resize: none;
  width: 450px;
  height: 38px;
  outline: none;
}

.happening-buttons {
  margin-top: .5rem;
}

.happening-buttons #happening-tweet  {
  background-color: #e4e8e8;
  color: #f9f9fa;
  border-radius: 30px;
  border: 0;
  padding: 10px 20px;
  margin-left: 20px;
}

/**********************************
Happening Toolbar
**********************************/
#happening-toolbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.toolbar-left {
  display: flex;
  align-items: center;
  max-width: 40%;
  position: relative;
}

.toolbar-right {
  display: flex;
  align-items: center;
  max-width: 40%;

}

.tooltip {
  position: absolute;
  bottom: 50px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  font-size: .75rem;
  z-index: 100;
}

.tooltip:before {
  content: "";
  position: absolute;
  top: 90%;
  left: 15px;
  height: 10px;
  width: 10px;
  z-index: 9;
  background: black;
  box-sizing:border-box;
  transform: rotate(45deg) translate(-50%);
  border-bottom: inherit;
  border-right: inherit;
  box-shadow: inherit;
}

.icon-box {
  width: 30px;
  height: 30px;
  padding: 7px;
  margin-top: 5px;
  overflow-x: visible;
}

#plus-icon {
  width: 30px;
}

.toolbox-icon {
  width: 30px;
}

.icon-box:hover {
  border: 1px solid #c2cad1;
  border-radius: 5px;
}




.new-tweets {
  text-align: center;
  color: #c2cad1;
  font-size: .85rem;
  font-weight: 100;
  border-top: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
  background-color: #f5f8fa;
  padding: 15px 0;
}



/**********************************
Follow
**********************************/

.follow-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #e6ecf0;
}

.follow-item-left {
  display: flex;
  flex-flow: row nowrap;
  /* align-items: flex-start; */
  align-content: flex-start;
}

.follow-details {
  padding-left: 20px;
}

.follow-image img {
  width: 48px;
  border-radius: 100%;
}

.follow-name p {
  font-weight: bold;
  color: #000;
  margin: 0;
  padding-bottom: 5px;
}

.follow-name p span {
  font-weight: normal;
  color: #a0abb4;
}

.follow-button button {
  background-color: white;
  color: #abb8c2;
  border-radius: 30px;
  padding: 5px 27px;
  font-weight: bold;
  font-size: .9rem;
  /* margin-left: 20px; */
}

.follow-close a {
  color: #ccd6dd;
}









/**********************************
Footer
**********************************/
footer {
  font-size: .85rem;
  padding: 10px;
}

footer .advertise {
  border-top: 1px grey solid;
  padding-top: 20px;
}
