/**********************************
General styling
**********************************/
* {
  /* border: solid red 1px; */
}

body {
  background-color: #e6ecf0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  color: grey;

}

header {
  padding: 0 10%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12)
}

a {
  text-decoration: none;
  color: grey;
}

h3 {
  color: #000;
}

/**********************************
Navigation
**********************************/
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 45px;
  font-size: .75rem;
  font-weight: bold;
  color: #444;
}

#nav li {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 16px 10px;
  margin-right: 20px;

}

.nav-item:hover {
  border-bottom: solid grey 2px;
}

#bird-logo {
  max-width: 30px;
}

#search {
  border-radius: 40px;
  height: 30px;
  width:175px;
  background-color: #f5f8fa;
  border: 1px #d9d9d9 solid;
}

#search::-webkit-input-placeholder {
  padding-left: 10px;
}

#search-icon {
  position: relative;
  right: 40px;
  border: none;
  background-color: #f5f8fa;
}

#profile-pic {
  max-width: 30px;
  max-height: 30px;
  border-radius: 100%;
  border: 1px #bbb solid;
}

#tweet-button {
  background-color: grey;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  margin-left: 20px;
}




/**********************************
Main
**********************************/
main {
  display: flex;
  padding: 0 10%;
  margin-top: 20px;

}

.side {
  width: 290px;
}

.feed {
  width: 580px;
  margin: 0 16px;
}

.box {
  background-color: #fff;
  margin: 0 0 16px 0;
  padding: 15px;
}
/**********************************
User summary
**********************************/
.user-banner {
  height: 95px;
  overflow-y: hidden;
}
.user-banner .banner-small {
  width: 100%;
}

.user-profile {
  display: flex;
  /* position: relative; */
  margin-top: -20px;
}

.user-profile div {
  margin-left: 10px;
}

  .user-profile #profile-pic {
    width: auto;
    max-width: 70px;
    height: auto;
    max-height: 70px;
    border: solid 2px #fff;
    position: relative;
    bottom: 20px;
  }

  .user-profile h3 {
    margin-bottom: 5px;
  }

  .user-profile h4 {
    margin: 0 0 15px 0;
  }

.user-stats {
display: flex;
}

.stat {
  padding-right: 20px;
  line-height: 1.5rem;
  font-size: .85rem;
  font-weight: 600;
}

.stat span {
  color: #aaa;
  font-size: 1.125rem;
}


/**********************************
Feed
**********************************/
.whats-happening #profile-pic {
  border: none;
}

.new-tweets {
  text-align: center;
  padding: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}



/**********************************
Footer
**********************************/
footer {
  font-size: .85rem;
  padding: 10px;
}

footer .advertise {
  border-top: 1px grey solid;
  padding-top: 20px;
}
